{{ title }}
<!-- Text interpolation -->
<p>{{ user.name }}</p>
<p>{{ user.age }}</p>
<!-- Property binding use [property]-->
<!-- <input type="text" [value]="user.name" /> -->
<!-- Event binding use (click)-->

<!-- <button type="button" (click)="handler()">Click me!</button> -->

<!-- Two-way binding use [(ngModel)] -->
<!-- <br />
<br />
<input type="text" [ngModel]="title" (ngModelChange)="title = $event" /> -->

<!--*ngIf it will remove comp to DOM if use hidden it will display done comp do not remove DOM  -->

<!-- *ngFor -->
<!-- <br />
<br />
<button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">
  {{ tag }}
</button>

<div
  class="box"
  [class]="{ 'red-border': isDanger, 'yellow-bg': isWarning }"
></div>

<button (click)="isDanger = !isDanger">Toggle danger</button>
<br />
<button (click)="isWarning = !isWarning">Toggle warning</button> -->

<!-- Output binding -->
<!-- <br />
<br />
<h1>output binding</h1>
<app-author-list></app-author-list> -->
short syntax <input type="text" [(ngModel)]="title" />
<br />
<!-- same with  -->
full syntax<input
  type="text"
  [ngModel]="title"
  (ngModelChange)="title = $event"
  #nameInput
/>
<button (click)="showLast = !showLast">Show last</button>
<app-twowaybinding #toggleComp [(checked)]="checked"></app-twowaybinding>
<app-twowaybinding #toggleComp [(checked)]="checked"></app-twowaybinding>
<app-twowaybinding #toggleComp [(checked)]="checked"></app-twowaybinding>
<div *ngIf="showLast">
  <app-twowaybinding #toggleComp [(checked)]="checked"></app-twowaybinding>
</div>

<button #buttonElement (click)="toggleComp.toggle()">toggle</button>
